{{>layouts/header}}

<table class="table">

    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
</table>

<a href="/articles/new">New Article</a>

{{>layouts/footer}}